# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MazeBall.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Облако\Разработка игр\MazeBall\MazeBall\.idea\.idea.MazeBall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
